{% extends "layout.html" %}
{% block title %}
Order Details
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{ order.id }}</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">{{ order.created_at }}</span>
                                <span class="me-3">#{{ order.id }}</span>
                                <span class="me-3">{{ order.card_type }} -{{ order.card_number|slice:"-4:" }}</span>
                                {% if order.status == 'Paid' %}
                                <span class="badge rounded-pill bg-success">{{ order.status }}</span>
                                {% else %}
                                <span class="badge rounded-pill bg-warning">{{ order.status }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                {% for item in order_items %}
                                <tr>
                                    <td>
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.name }}" width="35" class="img-fluid">
                                            </div>
                                            <div class="flex-lg-grow-1 ms-3">
                                                <h6 class="small mb-0"><a href="#" class="text-reset">{{ item.product.name }}</a></h6>
                                                <span class="small">Quantity: {{ item.quantity }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ item.quantity }}</td>
                                    <td class="text-end">${{ item.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">${{ order.order_total }}</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">${{ order.order_total }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>{{ order.card_type }} -{{ order.card_number|slice:"-4:" }} <br>
                                Total: ${{ order.order_total }} 
                                
                                {% if order.payment_status == 'Pending' %}
                                <span class="badge bg-info rounded-pill">{{ order.payment_status }}</span>
                                {% else %}
                                    <span class="badge bg-success rounded-pill">{{ order.payment_status }}</span>
                                {% endif %}
                            
                                
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>{{ order.user.get_full_name }}</strong><br>
                                    {{ order.address }}<br>
                                    {{ order.state }}, {{ order.zip_code }}<br>
                                    <abbr title="Phone">Phone:</abbr> {{ order.phone }}
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <strong>FedEx</strong>
                        <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>{{ order.user.get_full_name }}</strong><br>
                            {{ order.address }}<br>
                            {{ order.state }}, {{ order.zip_code }}<br>
                            <abbr title="Phone">Phone:</abbr> {{ order.phone }}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
